.detail {
    &__title {
        margin-bottom: 50px;
        h1 {
            font-size: 34px;
            line-height: 1.32;
            font-weight: 700;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        span {
            color: #6a6a6a;
        }
    }
    &__contents {
        min-height: 500px;
        padding: 30px 0;
        border-top: 1px solid #9a9a9a;
        border-bottom: 1px solid #9a9a9a;
    }
}
